/* HC6 Card CSS */
.hc6card-parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 5.56%;
}

.hc6-card {
  position: relative;
  width: 88.88%;
  height: 60px;
  margin-left: 5.56%;
  margin-top: 15px;
  border-radius: 12px;
  background-color: #fff;
}

.hc6-card-display {
  display: inline-block;
  margin-right: 5.56%;
}

.hc6card-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 25%;
  left: 6.25%;
}

.hc6card-title {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  top: 35%;
  left: 20.3%;
}

.hc6card-arrow {
  position: absolute;
  left: 90.62%;
  top: 36.66%;
}
