/* HC9 Card CSS */
.hc9card-parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 5.56%;
}

.hc9-card {
  position: relative;
  margin-left: 5.56%;
  width: auto;
  height: 195px;
  border-radius: 11px;
}

.hc9-card-display {
  display: inline-block;
  margin-right: 5.56%;
}
